@media (max-width:768px) {
    .burguerButton {
        display: flex;
        height: 31px;
        width: 31px;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .container1 {
        flex-direction: column;
        gap: 20px;
    }

    .div-buttons {
        animation: showup 0.6s ease;
    }

    .div-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    header {
        height: max-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .cadastrar {
        max-width: 100%;
    }

    .cadastrar h1 {
        font-size: 32px;
    }

    form input {
        width: 100%;
    }

    form select {
        width: 100%;

    }

    @keyframes showup {
        0% {
            opacity: 0;
            transform: translateY(-150%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }

    }

    #hidden {
        display: none;
    }


}